Package: dr.erast.witcher
Name: Witcher
Version: 0.0.2~alpha
Architecture: iphoneos-arm
Description: Magical iOS App Switcher 
Maintainer: Erast <applewormdev@gmail.com>
Author: Erast <applewormdev@gmail.com>
Section: Tweaks
dev: Erast
Depends: mobilesubstrate, firmware (>= 13.0), firmware (<= 15.6.1)
Icon: file:///var/jb/Library/PreferenceBundles/WitcherPreferences.bundle/icon_compressed.png 
